<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nakshatra\Popup\Api\Data\PopupInterface" type="Nakshatra\Popup\Model\Popup" />
    <preference for="Nakshatra\Popup\Api\PopupRepositoryInterface" type="Nakshatra\Popup\Service\PopupRepository" />
    <preference for="Nakshatra\Popup\Api\PopupManagementInterface" type="Nakshatra\Popup\Service\PopupManagement" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="nakshatra_popup_listing_data_source" xsi:type="string">Nakshatra\Popup\Model\ResourceModel\Popup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Nakshatra\Popup\Model\ResourceModel\Popup\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">nakshatra_popup</argument>
            <argument name="eventPrefix" xsi:type="string">nakshatra_popup_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">popup_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Nakshatra\Popup\Model\ResourceModel\Popup</argument>
        </arguments>
    </type>
</config>
