<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nakshatra" translate="label" sortOrder="300">
            <label>Nakshatra Extensions</label>
        </tab>
        <section id="product360" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product 360 Viewer</label>
            <tab>nakshatra</tab>
            <resource>Nakshatra_Product360::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Product 360 Viewer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable the 360 product viewer functionality</comment>
                </field>
                <field id="auto_play" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Auto Play Rotation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically start 360 rotation when page loads</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="rotation_speed" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Rotation Speed (ms)</label>
                    <comment>Speed of auto rotation in milliseconds (default: 100)</comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="auto_play">1</field>
                    </depends>
                </field>
                <field id="show_controls" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Control Buttons</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show play/pause and reset buttons</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="viewer_width" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Viewer Width</label>
                    <comment>Width of the 360 viewer container (e.g., 100%, 500px)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="viewer_height" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Viewer Height</label>
                    <comment>Height of the 360 viewer container (e.g., 400px, 50vh)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
